.DS_Store
.ipynb_checkpoints

# Папки автоматически создаваемые CatBoost
notebooks/catboost_info/
src/catboost_info/
catboost_info/

# Промежуточные результаты обработки данных
data/processed/*
!data/processed/.gitkeep

# технические файлы
data/temp/*
!data/temp/.gitkeep

# Предикты на новых данных
predictions/inference/predictions/inference/*
!predictions/inference/.gitkeep

# Временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Настройки IDE
.idea/

# Virtual environments and build artifacts (игнорируем локальные окружения, build-файлы и метаданные)
venv/
*.env
*.egg-info/
build/
