.DS_Store
.ipynb_checkpoints
notebooks/catboost_info/
/pipeline/*.csv
data/processed/

# технические файлы
data/temp/

# Временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Настройки IDE
.idea/

# Virtual environments and build artifacts (игнорируем локальные окружения, build-файлы и метаданные)
venv/
*.env
*.egg-info/
build/
